.main__tabla{
    display: flex;
    width: auto;
    height: 450px;
    background-color: $color1;
    font-size: 28px;
    box-shadow: 4px 6px 18px -2px $colorsombra;
    p{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .main__tabla--text{
        text-align: left;
    }
}
.main__tabla--bordeder{
    border: 3px solid rgb(0, 0, 0);
    border-bottom: 0px;
}
.main__contacto{
    font-size: 30px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    p{
        background-color: $color2;
        border: 3px solid $color1;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .main__tabla{
        background-color: $color1;
        width: auto;
        height: 400px;
        padding: 5px;
        overflow-y: scroll;
        box-shadow: 4px 6px 18px -2px $colorsombra;
        p{
            color: white;
            font-size: 14px;
            text-decoration: none;
        }
        th{
            font-size: 16px;
        }
    }
    .main__contacto{
        font-size: 25px;
        display: flex;
        height: 120px;
        width: auto;
        margin: 20px;
        background-color: transparent;
        padding: 2px;
        justify-content: center;
        border: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .main__tabla{
        background-color: $color1;
        width: auto;
        height: 400px;
        padding: 15px;
        overflow-y: scroll;
        p{
            color: white;
            font-size: 18px;
            text-decoration: none;
        }
        th{
            font-size: 16px;
        }
    }
    .main__contacto{
        font-size: 25px;
        display: flex;
        height: 120px;
        width: auto;
        margin: 20px;
        background-color: transparent;
        padding: 2px;
        justify-content: center;
        border: none;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .main__tabla{
        background-color: $color1;
        width: auto;
        height: 400px;
        padding: 5px;
        overflow-y: scroll;
        p{
            color: white;
            font-size: 24px;
            text-decoration: none;
        }
        th{
            font-size: 20px;
        }
    }
    .main__contacto{
        font-size: 25px;
        display: flex;
        height: 120px;
        width: auto;
        margin: 20px;
        background-color: transparent;
        padding: 2px;
        justify-content: center;
        border: none;
    }
}
@media only screen and (min-width:1440px){
    .main__tabla{
        display: flex;
        width: auto;
        height: 450px;
        background-color: $color1;
        font-size: 25px;
        border: 3px solid rgb(94, 94, 94);
        box-shadow: 4px 6px 18px -2px $colorsombra;
        p{
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
        .main__tabla--text{
            text-align:left;
        }
    }
    .main__tabla--text{
        text-align:left;
    }
    .main__tabla a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .main__contacto{
        font-size: 30px;
        display: flex;
        justify-content: left;
        padding-left: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
        p{
            background-color: $color2;
            border: 3px solid $color1;
        }
    }
}