// en el header se aplico junto el color y algunas cosas mas los estilos declarados en el map-get que se encuentran en variables
.header{
    grid-area: header;
    background-color: map-get($map: $estilo, $key: color-oscuro);
}
.header__logo{
    display: flex;
    width: 250px;
    position: map-get($map: $estilo, $key: posicion);
    top: 50px;
    left: 50px;
    .header__logo--size{
        width: 100%;
    }
    .header__titulo{
        display: flex;
        position: map-get($map: $estilo, $key: posicion);
        left: 250px;
        bottom: 200px;
        .header__titulo--size{
            font-size: 50px;
            color: rgb(255, 255, 255);
        }
    }
    .header__titulo2{
        display: flex;
        position: map-get($map: $estilo, $key: posicion);
        bottom: 200px;
        left: 520px;
        .header__titulo2--size{
            font-size: 35px;
            color: rgb(255, 255, 255);
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .header{
        grid-area: header;
        display: map-get($map: $estilo, $key: vista);
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .header{
        grid-area: header;
        display: map-get($map: $estilo, $key: vista);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .header{
        grid-area: header;
        display: map-get($map: $estilo, $key: vista);
    }
}
@media only screen and (min-width:1440px){
    .header{
        grid-area: header;
        background-color: map-get($map: $estilo, $key: color-oscuro);
    }
    .header__logo{
        display: flex;
        width: 250px;
        position: map-get($map: $estilo, $key: posicion);
        top: 50px;
        left: 50px;
        .header__logo--size{
            width: 100%;
        }
    }
    .header__titulo{
        display: flex;
        position: map-get($map: $estilo, $key: posicion);
        left: 250px;
        bottom: 200px;
        .header__titulo--size{
            font-size: 50px;
            color: rgb(255, 255, 255);
        }
    }
    .header__titulo2{
        display: flex;
        position: map-get($map: $estilo, $key: posicion);
        bottom: 200px;
        left: 520px;
        .header__titulo2--size{
            font-size: 35px;
            color: rgb(255, 255, 255);
        }
    }
}