.main__contenedor{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    justify-content: space-between;
    row-gap: 100px;  
    margin-left: 15%;
    margin-right: 15%;
    .main__fotos--position1{
        border: 4px solid $color2;
        box-shadow: 4px 6px 18px 2px $colorsombra;  
    }
    .main__fotos--position2{
        border: 4px solid $color2;
        box-shadow: 4px 6px 18px 2px $colorsombra;  
    }
}
.main__parrafo3{
    width: 610px;
    height: 450px;
    overflow-y: hidden;
    p{
        width: 100%;
        height: 100%;
    }
}
.main__ubicacion{
    width: 610px;
    height: 460px;
    .main__ubicacion--size{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .main__contenedor{
        margin-top: 0;
        display: block;  
        margin-left: 0;
        margin-right: 0;
        .main__fotos1{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .main__fotos--position1{
            border: 3px solid $color2;
            box-shadow: 4px 6px 18px 2px $colorsombra;
            margin-top: 25px;
            width: 95%;
        }
        .main__fotos--position2{
            border: 3px solid $color2;
            box-shadow: 4px 6px 18px 2px $colorsombra;
            margin-bottom: 25px;
            width: 95%;
        }
        .main__fotos2{
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
    .main__parrafo3{
        width: 100%;
        display: flex;
        font-size: 16px;
        padding: 5px;
        p{
            background-color: $color2;
            border: 3px solid $color1;
            overflow-y: scroll;
        }
    }
    .main__ubicacion{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main__ubicacion--size{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .main__contenedor{
        margin-top: 0;
        display: block;  
        margin-left: 0;
        margin-right: 0;
        .main__fotos1{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .main__fotos--position1{
            border: 3px solid $color2;
            box-shadow: 4px 6px 18px 2px $colorsombra;
            margin-top: 25px;
            width: 95%;
        }
        .main__fotos--position2{
            border: 3px solid $color2;
            box-shadow: 4px 6px 18px 2px $colorsombra;
            margin-bottom: 25px;
            width: 95%;
        }
        .main__fotos2{
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
    .main__parrafo3{
        width: 100%;
        display: flex;
        font-size: 16px;
        padding: 5px;
        p{
            background-color: $color2;
            border: 3px solid $color1;
            overflow-y: scroll;
        }
    }
    .main__ubicacion{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main__ubicacion--size{
        width: 100%;
        margin: 20px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .main__contenedor{
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 50px;
        .main__fotos1{
            width: 400px;
        }
        .main__fotos2{
            width: 400px;
        }
        .main__fotos--position1{
            width: 100%;
            border: 4px solid $color2;
        }
        .main__fotos--position2{
            width: 100%;
            border: 4px solid $color2;
        }
    }
    .main__ubicacion{
        width: 400px;
        height: 420px;
        border: 5px solid $color2;
        .main__ubicacion--size{
            width: 100%;
            height: 100%;
        }
    }
    .main__parrafo3{
        width: 400px;
        margin-bottom: 50px;
        p{
            width: 100%;
            overflow-y: scroll;
            background-color: $color2;
            font-size: 20px;
            border: 4px solid $color1
        }
    }
}
@media only screen and (min-width:1440px){
    .main__contenedor{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
        justify-content: space-between;
        row-gap: 200px;  
        margin-left: 15%;
        margin-right: 15%;
        .main__fotos1{
            width: 400px;
            height: 400px;
        }
        .main__fotos--position1{
            width: 100%;
            border: 4px solid $color2;
            box-shadow: 4px 6px 18px 2px $colorsombra;  
        }
        .main__fotos2{
            width: 400px;
            height: 400px;
        }
        .main__fotos--position2{
            width: 100%;
            border: 4px solid $color2;
            box-shadow: 4px 6px 18px 2px $colorsombra;  
        }
    }
    .main__parrafo3{
        width: 600px;
        height: 300px;
        font-size: 20px;
        margin-bottom: 5px;
        position: relative;
        bottom: 50px;
        p{
            overflow-y: scroll;
            border: 5px solid $color1;
            background-color: $color2;
            box-shadow: 4px 6px 18px 2px $colorsombra;
        }
    }
    .main__ubicacion{
        width: 460px;
        height: 260px;
        border: 5px solid $color1;
        box-shadow: 4px 6px 18px 2px $colorsombra;
        .main__ubicacion--size{
            width: 450px;
            height: 250px;
        }
    }
}