@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
.grid-container {
  display: grid;
  grid-template-areas: "header header header-nav" "main main main" "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}
@media only screen and (min-width: 1440px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header header header-nav" "main main main" "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}
html {
  scroll-behavior: smooth;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

#nav {
  grid-area: header-nav;
  background-color: rgb(69, 69, 69);
}

.nav-item {
  font-size: 28px;
}

.nav__logo {
  width: 250px;
}

.nav-item:hover {
  background-color: rgb(43, 42, 42);
  transition: 0.5s;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #nav {
    grid-area: header;
    position: relative;
    align-self: flex-end;
    background-color: rgb(69, 69, 69);
  }

  .nav__logo {
    width: 100px;
  }

  .main {
    grid-area: main;
    background-color: rgb(100, 100, 100);
  }

  .nav-item {
    font-size: 18px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 649px) {
  .nav-item {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-item {
    font-size: 18px;
  }

  #nav {
    grid-area: header;
    position: relative;
    align-self: flex-end;
    background-color: rgb(69, 69, 69);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  #nav {
    grid-area: header;
    background-color: rgb(69, 69, 69);
  }

  .nav-item {
    font-size: 20px;
  }

  .nav__titulo {
    font-size: 26px;
  }

  .nav-item a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  #nav {
    grid-area: header-nav;
    background-color: rgb(69, 69, 69);
  }

  .navbar-brand, .navbar-brand img {
    display: none;
  }

  .nav-item {
    font-size: 28px;
  }

  .nav__lista {
    background-color: rgb(136, 136, 136);
  }
}
.header {
  grid-area: header;
  background-color: rgb(69, 69, 69);
}

.header__logo {
  display: flex;
  width: 250px;
  position: relative;
  top: 50px;
  left: 50px;
}
.header__logo .header__logo--size {
  width: 100%;
}
.header__logo .header__titulo {
  display: flex;
  position: relative;
  left: 250px;
  bottom: 200px;
}
.header__logo .header__titulo .header__titulo--size {
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.header__logo .header__titulo2 {
  display: flex;
  position: relative;
  bottom: 200px;
  left: 520px;
}
.header__logo .header__titulo2 .header__titulo2--size {
  font-size: 35px;
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    grid-area: header;
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    grid-area: header;
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .header {
    grid-area: header;
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    grid-area: header;
    background-color: rgb(69, 69, 69);
  }

  .header__logo {
    display: flex;
    width: 250px;
    position: relative;
    top: 50px;
    left: 50px;
  }
  .header__logo .header__logo--size {
    width: 100%;
  }

  .header__titulo {
    display: flex;
    position: relative;
    left: 250px;
    bottom: 200px;
  }
  .header__titulo .header__titulo--size {
    font-size: 50px;
    color: rgb(255, 255, 255);
  }

  .header__titulo2 {
    display: flex;
    position: relative;
    bottom: 200px;
    left: 520px;
  }
  .header__titulo2 .header__titulo2--size {
    font-size: 35px;
    color: rgb(255, 255, 255);
  }
}
.footer {
  grid-area: footer;
  background-color: rgb(51, 51, 51);
}

.footer__copyright {
  background-color: rgb(62, 62, 62);
}

.btn--colors1:hover {
  color: #3b5998;
}

.btn--colors2:hover {
  color: #C13584;
}

.btn--colors3:hover {
  color: #382c1e;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    grid-area: footer;
    background-color: rgb(51, 51, 51);
  }

  .footer__copyright {
    background-color: rgb(62, 62, 62);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    grid-area: footer;
    background-color: rgb(51, 51, 51);
  }

  .footer__copyright {
    background-color: rgb(62, 62, 62);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .footer {
    grid-area: footer;
    background-color: rgb(51, 51, 51);
  }

  .footer__copyright {
    background-color: rgb(62, 62, 62);
  }
}
@media only screen and (min-width: 1440px) {
  .footer {
    grid-area: footer;
    background-color: rgb(51, 51, 51);
  }

  .footer__copyright {
    background-color: rgb(62, 62, 62);
  }
}
.main {
  grid-area: main;
  background: rgb(130, 130, 130);
  background: linear-gradient(0deg, rgb(130, 130, 130) 30%, rgb(57, 57, 57) 75%);
}

.main__titulo {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.section__banner {
  display: flex;
  width: 100%;
  gap: 20px;
}

.section__banner > .section__banner--size {
  min-width: 100%;
}

.main__fotos {
  display: grid;
  grid-template-columns: 70% 70%;
  grid-template-rows: 70% 70%;
  justify-content: flex-end;
  align-content: space-between;
  margin-top: 25px;
}
.main__fotos img {
  width: 100%;
}
.main__fotos .main__fotos--borde {
  border: 5px solid rgb(44, 44, 44);
  width: 455px;
  height: 455px;
  box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
}

.main__video {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  width: 560px;
  height: 315px;
  left: 50px;
  bottom: 950px;
}

.main__video--borde {
  width: 100%;
  border: 5px solid rgb(44, 44, 44);
  box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
}

.main__parrafo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: rgb(110, 110, 110);
  box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  font-size: 20px;
  width: 800px;
  height: 500px;
  left: 50px;
  bottom: 800px;
  border: 5px solid rgb(79, 79, 79);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main__titulo {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  .section__banner--size {
    width: 100%;
    height: 220px;
  }

  .main__fotos {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 5px;
  }
  .main__fotos .main__fotos--borde {
    border: 3px solid rgb(44, 44, 44);
    width: 300px;
    height: 300px;
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }
  .main__fotos img {
    width: 100%;
  }

  .main__video {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-align: center;
    width: auto;
    height: 315px;
    left: 0;
    bottom: 0;
  }

  .main__video--borde {
    width: 100%;
    justify-content: center;
  }

  .main__parrafo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(110, 110, 110);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    font-size: 16px;
    width: auto;
    height: auto;
    left: 0;
    bottom: 0;
    padding-left: 5px;
    margin: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    grid-area: main;
    background-color: rgb(100, 100, 100);
  }

  .main__titulo {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  .section__banner--size {
    width: 100%;
    height: 220px;
  }

  .main__fotos {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 5px;
  }
  .main__fotos img {
    width: 100%;
  }
  .main__fotos .main__fotos--borde {
    border: 3px solid rgb(44, 44, 44);
    width: 300px;
    height: 300px;
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }

  .main__video {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-align: center;
    width: auto;
    height: 315px;
    left: 0;
    bottom: 0;
  }

  .main__video--borde {
    width: 100%;
    justify-content: center;
  }

  .main__parrafo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(110, 110, 110);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    font-size: 16px;
    width: auto;
    height: auto;
    left: 0;
    bottom: 0;
    padding-left: 5px;
    margin: 5px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .main {
    grid-area: main;
    background-color: rgb(100, 100, 100);
  }

  .main__titulo {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }

  .section__banner--size {
    width: 100%;
    height: 550px;
  }

  .main__fotos {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    justify-content: flex-end;
    align-content: space-between;
  }
  .main__fotos img {
    width: 100%;
  }
  .main__fotos .main__fotos--borde {
    border: 5px solid rgb(44, 44, 44);
    width: 455px;
    height: 455px;
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }

  .main__video {
    display: flex;
    background-color: rgb(255, 255, 255);
    position: relative;
    justify-content: center;
    width: 560px;
    height: 315px;
    left: 15%;
    bottom: 25px;
  }

  .main__video--borde {
    width: 100%;
    border: 5px solid rgb(44, 44, 44);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }

  .main__parrafo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(110, 110, 110);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    font-size: 20px;
    width: 800px;
    height: auto;
    left: 50px;
    bottom: 5px;
    border: 5px solid rgb(79, 79, 79);
  }
}
@media only screen and (min-width: 1440px) {
  .main {
    grid-area: main;
    background-color: rgb(100, 100, 100);
  }

  .main__titulo {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }

  .section__banner--size {
    width: 100%;
    height: 550px;
  }

  .main__fotos {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    justify-content: center;
    align-content: space-between;
    gap: 25px;
  }
  .main__fotos img {
    width: 100%;
  }
  .main__fotos .main__fotos--borde {
    border: 5px solid rgb(44, 44, 44);
    width: 455px;
    height: 455px;
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }

  .main__video {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 30px;
    width: 560px;
    height: 315px;
    left: 50px;
  }

  .main__video--borde {
    width: 100%;
    border: 5px solid rgb(44, 44, 44);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }

  .main__parrafo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(110, 110, 110);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    font-size: 20px;
    width: 50%;
    margin-right: 50px;
    margin-left: 15px;
    height: auto;
    left: 600px;
    bottom: 350px;
    border: 5px solid rgb(79, 79, 79);
  }
}
.main__form {
  background-color: rgb(136, 136, 136);
  box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
}

.main__subtitulo {
  background-color: rgb(95, 95, 95);
  box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  border-radius: 2px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main__form {
    background-color: rgb(136, 136, 136);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }

  .main__subtitulo {
    background-color: rgb(95, 95, 95);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    border-radius: 2px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__form {
    background-color: rgb(136, 136, 136);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }

  .main__subtitulo {
    background-color: rgb(95, 95, 95);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    border-radius: 2px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .main__form {
    background-color: rgb(136, 136, 136);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }

  .main__subtitulo {
    background-color: rgb(95, 95, 95);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    border-radius: 2px;
  }
}
@media only screen and (min-width: 1440px) {
  .main__form {
    background-color: rgb(136, 136, 136);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }

  .main__subtitulo {
    background-color: rgb(95, 95, 95);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    border-radius: 2px;
  }
}
.main__tabla {
  display: flex;
  width: auto;
  height: 450px;
  background-color: rgb(62, 62, 62);
  font-size: 28px;
  box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
}
.main__tabla p {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.main__tabla .main__tabla--text {
  text-align: left;
}

.main__tabla--bordeder {
  border: 3px solid rgb(0, 0, 0);
  border-bottom: 0px;
}

.main__contacto {
  font-size: 30px;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.main__contacto p {
  background-color: rgb(136, 136, 136);
  border: 3px solid rgb(62, 62, 62);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main__tabla {
    background-color: rgb(62, 62, 62);
    width: auto;
    height: 400px;
    padding: 5px;
    overflow-y: scroll;
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }
  .main__tabla p {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  .main__tabla th {
    font-size: 16px;
  }

  .main__contacto {
    font-size: 25px;
    display: flex;
    height: 120px;
    width: auto;
    margin: 20px;
    background-color: transparent;
    padding: 2px;
    justify-content: center;
    border: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__tabla {
    background-color: rgb(62, 62, 62);
    width: auto;
    height: 400px;
    padding: 15px;
    overflow-y: scroll;
  }
  .main__tabla p {
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  .main__tabla th {
    font-size: 16px;
  }

  .main__contacto {
    font-size: 25px;
    display: flex;
    height: 120px;
    width: auto;
    margin: 20px;
    background-color: transparent;
    padding: 2px;
    justify-content: center;
    border: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .main__tabla {
    background-color: rgb(62, 62, 62);
    width: auto;
    height: 400px;
    padding: 5px;
    overflow-y: scroll;
  }
  .main__tabla p {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  .main__tabla th {
    font-size: 20px;
  }

  .main__contacto {
    font-size: 25px;
    display: flex;
    height: 120px;
    width: auto;
    margin: 20px;
    background-color: transparent;
    padding: 2px;
    justify-content: center;
    border: none;
  }
}
@media only screen and (min-width: 1440px) {
  .main__tabla {
    display: flex;
    width: auto;
    height: 450px;
    background-color: rgb(62, 62, 62);
    font-size: 25px;
    border: 3px solid rgb(94, 94, 94);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
  }
  .main__tabla p {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .main__tabla .main__tabla--text {
    text-align: left;
  }

  .main__tabla--text {
    text-align: left;
  }

  .main__tabla a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .main__contacto {
    font-size: 30px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .main__contacto p {
    background-color: rgb(136, 136, 136);
    border: 3px solid rgb(62, 62, 62);
  }
}
.main__parrafo2 {
  font-size: 26px;
  width: auto;
  height: auto;
  background-color: rgb(136, 136, 136);
  border: 5px solid rgb(62, 62, 62);
  box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
}

.main__objetivos_container {
  font-size: 26px;
  width: auto;
  height: auto;
  background-color: rgb(136, 136, 136);
  border: 5px solid rgb(62, 62, 62);
  box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
}

.main__galerialogros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}
.main__galerialogros .main__marco {
  width: 800px;
}
.main__galerialogros .main__fotopremios--size, .main__galerialogros .main__fotoperu--size {
  width: 95%;
  border: 5px solid rgb(136, 136, 136);
  box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
}
.main__parrafos {
  background-color: rgb(78, 78, 78);
  font-size: 24px;
  height: auto;
  width: 100%;
  border: 5px solid rgb(136, 136, 136);
  box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
}
.main__parrafos p {
  font-size: 28px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main__parrafo2 {
    background-color: rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    border: 2px solid rgb(44, 44, 44);
    display: flex;
    width: auto;
    height: auto;
    margin: 15px;
    overflow-y: scroll;
    padding: 15px;
    font-size: 18px;
  }

  .main__objetivos_container {
    background-color: rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    border: 2px solid rgb(44, 44, 44);
    display: flex;
    width: auto;
    height: auto;
    margin: 15px;
    overflow-y: scroll;
    padding: 15px;
    font-size: 18px;
  }

  .main__galerialogros {
    display: block;
    padding: 0;
  }
  .main__galerialogros .main__marco {
    width: auto;
    background-color: rgb(44, 44, 44);
    border: 3px solid rgb(131, 131, 131);
    border-radius: 5px;
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .main__galerialogros .main__fotopremios--size, .main__galerialogros .main__fotoperu--size {
    width: 95%;
  }
  .main__galerialogros .main__fotoangostura--size {
    width: 95%;
  }
  .main__galerialogros .main__fotoperu--size {
    width: 95%;
  }

  .main__parrafos {
    background-color: rgb(116, 116, 116);
    margin: 10px;
    width: auto;
    border: 3px solid rgb(62, 62, 62);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    font-size: 18px;
  }
  .main__parrafos p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__parrafo2 {
    background-color: rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    border: 2px solid rgb(44, 44, 44);
    display: flex;
    height: auto;
    width: auto;
    margin: 15px;
    overflow-y: scroll;
    padding: 15px;
    font-size: 18px;
  }

  .main__objetivos_container {
    background-color: rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    border: 2px solid rgb(44, 44, 44);
    display: flex;
    height: auto;
    width: auto;
    margin: 15px;
    overflow-y: scroll;
    padding: 15px;
    font-size: 18px;
  }

  .main__galerialogros {
    display: block;
    padding: 0;
  }
  .main__galerialogros .main__marco {
    width: auto;
    background-color: rgb(44, 44, 44);
    border: 3px solid rgb(131, 131, 131);
    border-radius: 5px;
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .main__galerialogros .main__fotopremios--size, .main__galerialogros .main__fotoperu--size {
    width: 95%;
  }
  .main__galerialogros .main__fotoangostura--size {
    width: 95%;
  }
  .main__galerialogros .main__fotoperu--size {
    width: 95%;
  }

  .main__parrafos {
    background-color: rgb(116, 116, 116);
    margin: 10px;
    width: auto;
    border: 3px solid rgb(62, 62, 62);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    font-size: 18px;
  }
  .main__parrafos p {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .main__parrafo2 {
    font-size: 26px;
    width: auto;
    height: auto;
    background-color: rgb(136, 136, 136);
    border: 5px solid rgb(62, 62, 62);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    overflow-y: scroll;
  }

  .main__objetivos_container {
    font-size: 26px;
    width: auto;
    height: auto;
    background-color: rgb(136, 136, 136);
    border: 5px solid rgb(62, 62, 62);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    overflow-y: scroll;
  }

  .main__galerialogros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__galerialogros .main__marco {
    width: 800px;
  }
  .main__galerialogros .main__fotopremios--size, .main__galerialogros .main__fotoperu--size {
    width: 95%;
    border: 5px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }
  .main__galerialogros .main__fotoangostura--size {
    width: 95%;
    border: 5px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }
  .main__galerialogros .main__fotoperu--size {
    width: 95%;
    border: 5px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }

  .main__parrafos {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(78, 78, 78);
    font-size: 24px;
    height: auto;
    width: 100%;
    border: 5px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }
}
@media only screen and (min-width: 1440px) {
  .main__parrafo2 {
    font-size: 26px;
    width: auto;
    height: auto;
    margin: 50px 125px;
    background-color: rgb(136, 136, 136);
    border: 5px solid rgb(62, 62, 62);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    overflow-y: hidden;
  }

  .main__objetivos_container {
    font-size: 26px;
    height: auto;
    width: auto;
    margin: 50px 125px;
    background-color: rgb(136, 136, 136);
    border: 5px solid rgb(62, 62, 62);
    box-shadow: 4px 6px 18px -2px rgba(0, 0, 0, 0.66);
    overflow-y: hidden;
  }

  .main__galerialogros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5pc;
  }
  .main__galerialogros .main__marco {
    width: 800px;
  }
  .main__galerialogros .main__fotopremios--size, .main__galerialogros .main__fotoperu--size {
    width: 95%;
    border: 5px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }
  .main__galerialogros .main__fotoangostura--size {
    width: 95%;
    border: 5px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }
  .main__galerialogros .main__fotoperu--size {
    width: 95%;
    border: 5px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }

  .main__parrafos {
    margin: 20px;
    background-color: rgb(78, 78, 78);
    font-size: 24px;
    height: auto;
    width: 100%;
    border: 5px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }
  .main__parrafos p {
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
}
.main__contenedor {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
  justify-content: space-between;
  row-gap: 100px;
  margin-left: 15%;
  margin-right: 15%;
}
.main__contenedor .main__fotos--position1 {
  border: 4px solid rgb(136, 136, 136);
  box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
}
.main__contenedor .main__fotos--position2 {
  border: 4px solid rgb(136, 136, 136);
  box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
}

.main__parrafo3 {
  width: 610px;
  height: 450px;
  overflow-y: hidden;
}
.main__parrafo3 p {
  width: 100%;
  height: 100%;
}

.main__ubicacion {
  width: 610px;
  height: 460px;
}
.main__ubicacion .main__ubicacion--size {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main__contenedor {
    margin-top: 0;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .main__contenedor .main__fotos1 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .main__contenedor .main__fotos--position1 {
    border: 3px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    margin-top: 25px;
    width: 95%;
  }
  .main__contenedor .main__fotos--position2 {
    border: 3px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    margin-bottom: 25px;
    width: 95%;
  }
  .main__contenedor .main__fotos2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .main__parrafo3 {
    width: 100%;
    height: auto;
    display: flex;
    font-size: 16px;
    padding: 5px;
  }
  .main__parrafo3 p {
    background-color: rgb(136, 136, 136);
    border: 3px solid rgb(62, 62, 62);
    overflow-y: scroll;
  }

  .main__ubicacion {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main__ubicacion--size {
    width: 100%;
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main__contenedor {
    margin-top: 0;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .main__contenedor .main__fotos1 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .main__contenedor .main__fotos--position1 {
    border: 3px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    margin-top: 25px;
    width: 95%;
  }
  .main__contenedor .main__fotos--position2 {
    border: 3px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
    margin-bottom: 25px;
    width: 95%;
  }
  .main__contenedor .main__fotos2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .main__parrafo3 {
    width: 100%;
    height: auto;
    display: flex;
    font-size: 16px;
    padding: 5px;
  }
  .main__parrafo3 p {
    background-color: rgb(136, 136, 136);
    border: 3px solid rgb(62, 62, 62);
    overflow-y: scroll;
  }

  .main__ubicacion {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main__ubicacion--size {
    width: 100%;
    margin: 20px;
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .main__contenedor {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 50px;
  }
  .main__contenedor .main__fotos1 {
    width: 400px;
  }
  .main__contenedor .main__fotos2 {
    width: 400px;
  }
  .main__contenedor .main__fotos--position1 {
    width: 100%;
    border: 4px solid rgb(136, 136, 136);
  }
  .main__contenedor .main__fotos--position2 {
    width: 100%;
    border: 4px solid rgb(136, 136, 136);
  }

  .main__ubicacion {
    width: 400px;
    height: 420px;
    border: 5px solid rgb(136, 136, 136);
  }
  .main__ubicacion .main__ubicacion--size {
    width: 100%;
    height: 100%;
  }

  .main__parrafo3 {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
  }
  .main__parrafo3 p {
    width: 100%;
    overflow-y: scroll;
    background-color: rgb(136, 136, 136);
    font-size: 20px;
    border: 4px solid rgb(62, 62, 62);
  }
}
@media only screen and (min-width: 1440px) {
  .main__contenedor {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    justify-content: space-between;
    row-gap: 200px;
    margin-left: 15%;
    margin-right: 15%;
  }
  .main__contenedor .main__fotos1 {
    width: 400px;
    height: 400px;
  }
  .main__contenedor .main__fotos--position1 {
    width: 100%;
    border: 4px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }
  .main__contenedor .main__fotos2 {
    width: 400px;
    height: 400px;
  }
  .main__contenedor .main__fotos--position2 {
    width: 100%;
    border: 4px solid rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }

  .main__parrafo3 {
    width: 600px;
    height: 300px;
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
    bottom: 50px;
  }
  .main__parrafo3 p {
    overflow-y: scroll;
    border: 5px solid rgb(62, 62, 62);
    background-color: rgb(136, 136, 136);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }

  .main__ubicacion {
    width: 460px;
    height: 260px;
    border: 5px solid rgb(62, 62, 62);
    box-shadow: 4px 6px 18px 2px rgba(0, 0, 0, 0.66);
  }
  .main__ubicacion .main__ubicacion--size {
    width: 450px;
    height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
